.nav>ul {
  display: flex;
}

.nav-item {
  margin-right: 48px;
}

.nav-item:hover {
  cursor:pointer;
  border-bottom: 2px solid var(--blue);
}

.nav-item>a {
  line-height: 46px;
  text-transform: capitalize;
  font-size: 18px;
  color: black;
}

.nav-item>a:hover{
  color: var(--blue);
}
